Vidmake/bin/
Vidmake/obj/
output/
Vidmake/ffmpeg_bin/
Vidmake/template/release/ffmpeg/
Vidmake/template/ffmpeg/
scripts/__pycache__/

tests/Integration/bin/
tests/Integration/obj/

tests/Unit/bin/
tests/Unit/obj/
